[package]
name = "wstunnel"
version = "8.1.0"
edition = "2021"
repository = "https://github.com/erebe/wstunnel.git"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4.10", features = ["derive"]}
url = "2.5.0"
anyhow = "1.0.75"

hyper = { version = "0.14.27", features = ["client", "runtime"] }
fastwebsockets = { git = "https://github.com/denoland/fastwebsockets", branch = "main", features = ["upgrade", "simd", "unstable-split"]}
libc = { version = "0.2.150", features = []}
once_cell = { version = "1.18.0", features = [] }
ahash = { version = "0.8.6",  features = []}
pin-project = "1"
scopeguard = "1.2.0"
uuid = { version = "1.6.1", features = ["v7", "serde"] }
jsonwebtoken = { version = "9.1.0",  default-features = false }
rustls-pemfile = { version = "1.0.4", features = [] }
bytes = { version = "1.5.0", features = [] }
parking_lot = "0.12.1"
urlencoding = "2.1.3"
nix = { version = "0.27.1", features = ["socket", "net", "uio"] }

rustls-native-certs = { version = "0.6.3", features = [] }
tokio = { version = "1.34.0", features = ["full"] }
tokio-rustls = { version = "0.24.1", features = ["tls12", "dangerous_configuration", "early-data"] }
tokio-stream = { version = "0.1.14", features = ["net"] }
fast-socks5 = { version = "0.9.1", features = [] }
futures-util = { version = "0.3.29" }

tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "fmt", "local-time"] }
base64 = "0.21.5"
serde = { version = "1.0.193", features = ["derive"] }
log = "0.4.20"

bb8 = { version = "0.8", features = [] }
async-trait = "0.1.74"
socket2 = { version = "0.5.5", features = [] }

[target.'cfg(target_family = "unix")'.dependencies]
tokio-fd = "0.3.0"


[dev-dependencies]
testcontainers = "0.15.0"


[profile.release]
lto = "fat"
panic = "abort"
codegen-units = 1
opt-level = 3
debug = 1
